.root {
  background-color: white;
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.root:hover {
  transition: .5s;
  background-color: var(--danger-color);
  border: red;
  color: white;
}

.root button:disabled, button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #e7e7e7;
}

.root button:disabled, button[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #e7e7e7;
}