.root {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  border-bottom: 1px solid #e7e7e7;
  height: 3.25rem;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
}

.root a {
  text-decoration: none;
  text-decoration: none;
  color: #333333;
}

.root .nav-brand {
  padding: 1rem 1rem;
  display: flex;
  letter-spacing: 1px;
}

.root .nav-brand span {
  margin-left: 1rem;
}

.root .nav-brand img {
  height: 2.5rem;
  width: auto;
  margin-top: -.5rem;
}

.root .navigation {
  display: flex;
  width: 40%;
}

.root .navigation a {
  padding: 1rem 1rem;
}

.root .navigation a:hover {
  border-bottom: 3px solid #333333;
  transition: .5s;
}

.active {
  border-bottom: 2px solid #333333;
}

.root svg {
  fill: #333333;
}

.root .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.root .drawer {
  display: none;
}

.root .collapse {
  display: none;
}

.root .nav-icon {
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .root .navigation {
    display: none;
  }
  .root .nav-brand-logo {
    display: none;
  }
  .root .nav-brand span {
    margin-left: 0;
  }
  .root>a {
    width: 100%;
  }
  .root .drawer {
    display: block;
    align-self: center;
    margin-right: 1rem;
  }
  .root .drawer>button {
    background-color: white;
    outline: none;
    border: none;
  }
  .root .collapse.active {
    transition: .5s;
    position: absolute;
    top: 3.3rem;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  .root .collapse.active>a {
    padding: 1rem;
    border-bottom: 1px solid #e7e7e7;
  }
}