.root {
  width: 100%;
  display: inline-flex;
  border-bottom: 2px solid #e7e7e7;
}

.cusTitle {
  margin-right: 5rem;
  margin: 1rem 1rem 1rem 0rem;
  min-width: 8rem;
}

.cusList{
  padding-top: 1rem;
  padding-bottom: 1rem;
}