.root {
  display: flex;
  flex-direction: column;
}

.root a {
  text-decoration: none;
}

.item-container {
  display: grid;
  grid-template-columns: 14.7% 14.7% 14.7% 14.7% 14.7% 14.7%;
  width: 100%;
  column-gap: 1rem;
  row-gap: 1rem;
}

.card-container {
  background-color: white;
  cursor: pointer;
}

.item-card {
  position: relative;
}

.item-content {
  position: relative;
  margin-bottom: 2.5rem;
  padding: .5rem .5rem;
  min-height: 5rem;
}

.item-content img {
  width: 100%;
}

.item-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
  color: #333333;
}

@media only screen and (max-width: 768px) {
  .item-container {
    display: grid;
    grid-template-columns: 48% 48%;
    width: 100%;
    column-gap: 1rem;
    row-gap: 1rem;
  }
}