.root {
  margin-top: 2rem;
}

.cusList {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  row-gap: 1rem;
  column-gap: 1rem;
}

.cusListItem {
  border: 1px solid #e7e7e7;
  padding: 1rem 1rem;
  border-radius: 3px;
  letter-spacing: 2px;
}

.cusListItem:hover {
  background-color: #e7e7e7;
  transition: .5s;
}

.cusTitle {
  border-bottom: 1px solid #e7e7e7;
}

@media only screen and (max-width: 768px) {
  .cusList {
    grid-template-columns: auto auto;
  }
  .cusListItem {
    padding: .5rem .5rem;
  }
}